<%- include('../partials/header-admin.ejs') %>


<div class="app-content">
    <div class="app-content-header">
      <h1 class="app-content-headerText">Agendas</h1>
      
      <a href="/admin/agendas/add" class="a-user btn-default"> Adicionar Agenda</a>
    </div>
    <div class="app-content-actions">
      <input class="search-bar" placeholder="Search..." type="text">
      
    </div>
    <% if (locals.agendas) {%>
      <table>
        <thead class="list-header">
          <tr>
            <th>Id</th>
            <th>Id Usuário</th>
            <th>Nome da agenda</th>
            <th>URL da reunião</th>
            <th>Data de início</th>
            <th>Data fim</th>
            <th>Duração</th>
            <th>Data da criação</th>
            <th>Data de modificação</th>
            <th>Opções</th>
          </tr>
        </thead>
        <tbody class="list-row">
          <% for(let agenda of agendas) { %>
            <tr>
              <td class="td-id">
                <%= agenda.id %>
              </td>
              <td class="td-id">
                <%= agenda.userId %>
              </td>
              <td class="td-name">
                <%= agenda.title %>
              </td>
              <td class="td-name">
                <%= agenda.url %>
              </td>
              <td class="td-name">
                <%= agenda.start %>
              </td>
              <td class="td-email">
                <%= agenda.end %>
              </td>
              <td class="td-email">
                <%= agenda.duration %>
              </td>
              <td class="td-email">
                <%= agenda.createdAt %>
              </td>
              <td class="td-email">
                <%= agenda.updatedAt %>
              </td>
              
              <td class="td-options">
                <a class="um-user" href="/admin/agendas/<%= agenda.id %>">
                  <img src="/images/icon-view.png" width="20px">
                </a>
                <a class="um-user" href="/admin/agendas/<%= agenda.id %>/editar">
                  <img src="/images/icon-edit-admin.jpg" width="25px">
                </a>
                <a class="um-user" href="/admin/agendas/<%= agenda.id %>/excluir">
                  <img src="/images/icon-delete-admin.png" width="20px">
                </a>
              </td>
            </tr>
          <% } %>
        </table>
      </table>
    <% } %>
  </div>
  

</main>
</body>

</html>