<%- include('../partials/header-admin.ejs') %>

<section class="section-main section-admin">

  <h1 class="admin-title">Excluir agenda</h1>
  <section class="container-list ">
    <form
      class="form-user"
      action="/admin/agendas/<%=agenda.id%>/excluir?_method=delete"
      method="POST"
    >  
        <div class="conteiners-form">
            <label class="form-label" for="userId">Id do usuário</label>
            <input 
                type="number" 
                name="userId" 
                id="userId" 
                value="<%= agenda.extendedProps.userId %>" 
                disabled
            >
        </div>
      <div class="info-edit">
        <label class="form-label" for="nome">Nome da agenda</label>
        <input
          class="input-account"
          type="text"
          id="nome"
          value="<%= agenda.title%>"
          name="nome"
          placeholder="Digite o nome do usuário"
          disabled
        />
      </div>
      <div class="info-edit">
        <label class="form-label" for="nome">URL</label>
        <input
          class="input-account"
          type="text"
          id="nome"
          value="<%= agenda.url%>"
          name="nome"
          disabled
        />
      </div>
      <div class="info-edit">
        <label class="form-label" for="email">Duração</label>
        <input
          class="input-account"
          type="time"
          id="duration"
          value="<%= agenda.duration%>"
          name="duration"
         
          disabled
        />
      </div>
      <div class="conteiners-form">
        <label class="form-label" for="start">Período de agendamento</label>
        <div class="conteiner-dates">
            <label for="start">De</label>
            <input type="date" name="start" id="start" value="<%= agenda.start %>" class="input-dates" disabled>
            <label for="end">até</label>
            <input type="date" name="end" id="end" value="<%= agenda.end %>" class="input-dates" disabled>
        </div>
        
    </div>
      
      <div class="btn-options">
        <input type="hidden" name="modifed_at" value="<%= new Date() %>" />
        <button class="button-exclude btn-delete">Excluir agenda</button>
      </div>
    </form>
  </section>
</main>
</body>
</html>
