
<%- include('../partials/header-admin.ejs') %>

<section class="section-main section-admin">

  <h1 class="account-title">Excluir agendamento</h1>
  <section class="container-list ">
  
    <form
      class="form-user"
      action="/admin/agendamentos/<%=event.id%>/excluir?_method=delete"
      method="POST"
    >
        <div class="conteiners-form">
            <label class="form-label" for="userId">Id do usuário</label>
            <input type="number" name="userId" id="userId" value="<%= event.userId %>" disabled>
        </div>
        <div class="conteiners-form">
            <label class="form-label" for="agendaId">Id da agenda</label>
            <input type="number" name="agendaId" id="agendaId" value="<%= event.agendaId %>" disabled>
        </div>
        <div class="conteiners-form">
            <label class="form-label" for="title">Nome do aluno</label>
            <input type="text" name="title" id="title" value="<%= event.title %>" disabled>
        </div>
        <div class="conteiners-form">
            <label class="form-label" for="emailAluno">Email do aluno</label>
            <input type="email" name="emailAluno" id="emailAluno" value="<%= event.emailAluno %>" disabled>
        </div>
        <div class="conteiners-form">
            <label class="form-label" for="telefoneAluno">Telefone do aluno</label>
            <input type="tel" name="telefoneAluno" id="telefoneAluno" value="<%= event.telefoneAluno %>" disabled>
        </div>
        <div class="conteiners-form">
            <label class="form-label" for="start">Data</label>
            <input type="date" name="start" id="start" value="<%= event.start %>" class="input-dates" disabled>
        </div>
        <div class="conteiners-form">
            <label class="form-label" for="startTime">Horário</label>
            <input type="time" name="startTime" id="startTime" value="<%= event.startTime %>" disabled>
        </div>
        <div class="conteiners-form">
            <label class="form-label" for="description">Descrição</label>
            <textarea name="description" id="description" value="<%= event.description %>" disabled></textarea>
        </div>
        
        <div>
            <input type="hidden" name="created_at" value="<%= event.createdAt %>">
            <input type="hidden" name="ipdated_at" value="<%= new Date() %>">
        </div>
    
        <div class="btn-options">
            <button class="button-edit btn-default">Excluir</button>
        </div>
      </form>
  </section>
</main>
<script>
    $(document).ready(function(){
        $('#telefoneAluno').mask('(00) 00000-0000');
        
    });
</script>


</body>
</html>

