<%- include('../partials/header-admin.ejs') %>

   
  <section class="section-main section-admin">
    
    <% if(locals.agenda) { %>
    <div class="container-list info-user">
        
      <div class="div-infos">
        <h2 class="admin-title">Dados do agenda</h2>
        <div>
          <div class="info-data">
            <p class="info-legend">Id</p>
            <p><%= agenda.id %></p>
          </div>
          <div class="info-data">
            <p class="info-legend">Id do usuário</p>
            <p><%= agenda.extendedProps.userId %></p>
          </div>
          <div class="info-data">
            <p class="info-legend">Nome da agenda</p>
            <p><%= agenda.title %></p>
          </div>
          <div class="info-data">
            <p class="info-legend">URL das reuniões</p>
            <p><%= agenda.url %></p>
          </div>
          <div class="info-data">
            <p class="info-legend">Duração das reuniões</p>
            <p><%= agenda.duration%></p>
          </div>
          <div class="info-data">
            <p class="info-legend">Data de início</p>
            <p><%= agenda.start%></p>
          </div>
          <div class="info-data">
            <p class="info-legend">Data fim</p>
            <p><%= agenda.end %></p>
          </div>
          <div class="info-data">
            <table>
                <thead>
                    <tr>
                        <td></td>
                    </tr>
                </thead>
            </table>
            <% for(let business of agenda.businessHours) { %>
              <% for(let day of business.daysOfWeek) { %>
                <p><%= day %></p>
              <% } %> 
              <p><%= business.startTime %> </p>
            <% } %> 
          </div>
          <div class="info-data">
            <p class="info-legend">Data de criação</p>
            <p><%= agenda.extendedProps.createdAt %></p>
          </div>
          <div class="info-data">
            <p class="info-legend">Data de modificação</p>
            <p><%= agenda.extendedProps.modifiedAt %></p>
          </div>
        </div>
      </div>
      <div class="btn-options">
        <a class="um-user btn-default" href="/admin/agendas/<%= agenda.id %>/editar">Editar</a> |
        <a class="um-user btn-delete" href="/admin/agendas/<%= agenda.id %>/excluir">Excluir</a>
      </div>
        
    </div>

    <% } %>

    
  </section>
</main>
</body>
</html>

