<%- include('../partials/header-admin.ejs') %>

   
  <section class="section-main section-admin">
    
    <% if(locals.agenda) { %>
    <div class="container-list info-user">
        
      <div class="div-infos">
        <h2 class="admin-title">Dados do agenda</h2>
        <div>
          <div class="info-data">
            <p class="info-legend">Id</p>
            <p><%= agenda.id %></p>
          </div>
          <div class="info-data">
            <p class="info-legend">Id do usuário</p>
            <p><%= agenda.userId %></p>
          </div>
          <div class="info-data">
            <p class="info-legend">Nome da agenda</p>
            <p><%= agenda.title %></p>
          </div>
          <div class="info-data">
            <p class="info-legend">URL das reuniões</p>
            <p><%= agenda.url %></p>
          </div>
          <div class="info-data">
            <p class="info-legend">Duração das reuniões</p>
            <p><%= agenda.duration%></p>
          </div>
          <div class="info-data">
            <p class="info-legend">Data de início</p>
            <p><%= agenda.start%></p>
          </div>
          <div class="info-data">
            <p class="info-legend">Data fim</p>
            <p><%= agenda.end %></p>
          </div>           
          </div>
          <div class="info-data">
            <p class="info-legend">Data de criação</p>
            <p><%= agenda.createdAt %></p>
          </div>
          <div class="info-data">
            <p class="info-legend">Data de modificação</p>
            <p><%= agenda.updatedAt %></p>
          </div>

          <div class="info-data">
            <table>
                <thead>
                    <tr>
                        <th>Dias da semana</th>
                        <th>Horários</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(let business of businessHours) { %>
                    <% for(let day of business.daysOfWeek) { %>
                      <tr>
                        <td>
                          <%if (day == 0) { %>
                              Domingo
                          <% } %> 
                          <%if (day == 1) { %>
                            Segunda-feira
                          <% } %> 
                          <%if (day == 2) { %>
                            Terça-feira
                          <% } %>
                          <%if (day == 3) { %>
                            Quarta-feira
                          <% } %>
                          <%if (day == 4) { %>
                            Quinta-feira
                          <% } %>
                          <%if (day == 5) { %>
                            Sexta-feira
                          <% } %>
                          <%if (day == 6) { %>
                            Sábado
                          <% } %>
                        </td>
                        <td>
                          <%= business.startTime %> 
                          - 
                          <%= business.endTime %> 
                        </td>
                      </tr>
                    <% } %> 
                    
                  <% } %> 
                </tbody>
            </table>
        </div>
      </div>
      <div class="btn-options">
        <a class="um-user btn-default" href="/admin/agendas/<%= agenda.id %>/agendamentos">Agendamentos</a> |
        <a class="um-user btn-default" href="/admin/agendas/<%= agenda.id %>/editar">Editar</a> |
        <a class="um-user btn-delete" href="/admin/agendas/<%= agenda.id %>/excluir">Excluir</a>
      </div>
        
    </div>

    <% } %>

    
  </section>
</main>
</body>
</html>

