<%- include('../partials/header-admin.ejs') %>


  <div class="app-content">
    
    <% if (locals.users) {%>
      <div class="app-content-header">
        <h1 class="app-content-headerText">Usuários</h1>
        
        <a href="/admin/usuarios/add" class="a-user btn-default"> Adicionar Usuário</a>
      </div>
      <table class="table-list">
        <thead class="list-header">
          <tr>
            <th>Avatar</th>
            <th class="id">Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Slug</th>
            <th>Admin</th>
            <th class="dates">Data de criação</th>
            <th class="dates">Data de modificação</th>
            <th>Opções</th>
          </tr>
        </thead>
        <tbody class="list-row">
          <% for(let user of users) { %>
            <tr>
              <td class="td-avatar">
                <img
                src="/images/<%= user.avatar ? `avatar/${user.avatar}` : 'avatar-exemple.png' %>"
                alt="Avatar  <%= user.nome %>"
                width="60"
                height="40"
                style="border-radius: 50%; display: block"
                />
              </td>
              <td class="td-id">
                <%= user.id %>
              </td>
              <td class="td-name">
                <%= user.nome %>
              </td>
              <td class="td-name">
                <%= user.email %>
              </td>
              <td class="td-email">
                <%= user.slug %>
              </td>
              <td>
                <% if(user.admin == true) { %>
                  <img src="/images/icon-true.png" width="20px">
                <% } else { %>
                  <img src="/images/icon-false.jpg" width="20px">
                <% } %>

              </td>
              <td class="td-date">
                <%= user.createdAt %>
              </td>
              <td class="td-date">
                <%= user.updatedAt %>
              </td>
              <td class="td-options">
                <a class="um-user" href="/admin/usuarios/<%= user.id %>">
                  <img src="/images/icon-view.png" width="20px">
                </a>
                <a class="um-user" href="/admin/usuarios/<%= user.id %>/editar">
                  <img src="/images/icon-edit-admin.jpg" width="25px">
                </a>
                <a class="um-user" href="/admin/usuarios/<%= user.id %>/excluir">
                  <img src="/images/icon-delete-admin.png" width="20px">
                </a>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    <% } %>
    <% if (locals.agendas) {%>
      <div class="app-content-header">
        <h1 class="app-content-headerText">Agendas</h1>
        
        <a href="/admin/agendas/add" class="a-user btn-default"> Adicionar Agenda</a>
      </div>
      <table class="table-list">
        <thead class="list-header">
          <tr>
            <th>Id</th>
            <th>Id Usuário</th>
            <th>Nome da agenda</th>
            <th>URL da reunião</th>
            <th>Data de início</th>
            <th>Data fim</th>
            <th>Duração</th>
            <th class="dates" >Data da criação</th>
            <th class="dates">Data de modificação</th>
            <th>Opções</th>
          </tr>
        </thead>
        <tbody class="list-row">
          <% for(let agenda of agendas) { %>
            <tr>
              <td class="td-id">
                <%= agenda.id %>
              </td>
              <td class="td-id">
                <%= agenda.userId %>
              </td>
              <td class="td-name">
                <%= agenda.title %>
              </td>
              <td class="td-name">
                <%= agenda.url %>
              </td>
              <td class="td-name">
                <%= agenda.start %>
              </td>
              <td class="td-email">
                <%= agenda.end %>
              </td>
              <td class="td-email">
                <%= agenda.duration %>
              </td>
              <td class="td-dates">
                <%= agenda.createdAt %>
              </td>
              <td class="td-dates">
                <%= agenda.updatedAt %>
              </td>
              
              <td class="td-options">
                <a class="um-user" href="/admin/agendas/<%= agenda.id %>">
                  <img src="/images/icon-view.png" width="20px">
                </a>
                <a class="um-user" href="/admin/agendas/<%= agenda.id %>/editar">
                  <img src="/images/icon-edit-admin.jpg" width="25px">
                </a>
                <a class="um-user" href="/admin/agendas/<%= agenda.id %>/excluir">
                  <img src="/images/icon-delete-admin.png" width="20px">
                </a>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    <% } %>

    <% if (locals.events) {%>
      <div class="app-content-header">
        <h1 class="app-content-headerText">Agendamentos</h1>
        
        <a href="/admin/agendamentos/add" class="a-user btn-default"> Adicionar Agendamento</a>
      </div>
      <table class="table-list">
        <thead class="list-header">
          <tr>
            <th class="id">Id</th>
            <th class="id">Id Usuário</th>
            <th class="id">Id da agenda</th>
            <th>Nome do aluno</th>
            <th>Email do aluno</th>
            <th>Telefone do aluno</th>
            <th>Data</th>
            <th>Horário de início</th>
            <th>Horário final</th>
            <th>Descrição</th>
            <th class="dates">Data da criação</th>
            <th class="dates">Data de modificação</th>
            <th>Opções</th>
          </tr>
        </thead>
        <tbody class="list-row">
          <% for(let event of events) { %>
            <tr>
              <td class="td-id">
                <%= event.id %>
              </td>
              <td class="td-id">
                <%= event.userId %>
              </td>
              <td class="td-id">
                <%= event.agendaId%>
              </td>
              <td class="td-name">
                <%= event.title %>
              </td>
              <td class="td-email">
                <%= event.emailAluno %>
              </td>
              <td class="td-tel">
                <%= event.telefoneAluno %>
              </td>
              <td class="td-dates">
                <%= event.start %>
              </td>
              <td class="td-startTime">
                <%= event.startTime %>
              </td>
              <td class="td-endTime">
                <%= event.endTime %>
              </td>
              <td class="td-description">
                <%= event.description %>
              </td>
              <td class="td-dates">
                <%= event.createdAt %>
              </td>
              <td class="td-dates">
                <%= event.updatedAt %>
              </td>
              
              <td class="td-options">
                <a class="um-user" href="/admin/agendamentos/<%= event.id %>">
                  <img src="/images/icon-view.png" width="20px">
                </a>
                <a class="um-user" href="/admin/agendamentos/<%= event.id %>/editar">
                  <img src="/images/icon-edit-admin.jpg" width="25px">
                </a>
                <a class="um-user" href="/admin/agendamentos/<%= event.id %>/excluir">
                  <img src="/images/icon-delete-admin.png" width="20px">
                </a>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    <% } %>
  </div>
  

</main>
</body>

</html>