<%- include('../partials/header-admin.ejs') %>

   
  <section class="section-main section-admin">
    
    <% if(locals.user) { %>
    <div class="container-list info-user">
        <div class="div-avatar">
          <img
            src="/images/<%= user.avatar ? `avatar/${user.avatar}` : 'avatar-exemple.png' %>"
            alt="avatar"
            height="80"
            width="80"
            style="border-radius: 50%; width: 80px; height: 60px; "
          />
        </div>
      <div class="div-infos">
        <h2 class="admin-title">Dados do usuário</h2>
        <div>
          <div class="info-data">
            <p class="info-legend">Id</p>
            <p><%= user.id %></p>
          </div>
          <div class="info-data">
            <p class="info-legend">Nome</p>
            <p><%= user.nome %></p>
          </div>
          <div class="info-data">
            <p class="info-legend">Slug</p>
            <p><%= user.slug%></p>
          </div>
          <div class="info-data">
            <p class="info-legend">Email</p>
            <p><%= user.email%></p>
          </div>
          <div class="info-data">
            <p class="info-legend">Admin</p>
            <p>
              <% if(user.admin == true) { %>
                <img src="/images/icon-true.png" width="20px">
              <% } else { %>
                <img src="/images/icon-false.jpg" width="20px">
              <% } %>
            </p>
          </div>
          <div class="info-data">
            <p class="info-legend">Data de criação</p>
            <p><%= user.createdAt %></p>
          </div>
          <div class="info-data">
            <p class="info-legend">Data de modificação</p>
            <p><%= user.updatedAt %></p>
          </div>

        </div>
      </div>
      <div class="btn-options">
        <a class="um-user btn-default" href="/admin/usuarios/<%= user.id %>/agendas">Agendas</a> |
        <a class="um-user btn-default" href="/admin/usuarios/<%= user.id %>/editar">Editar</a> |
        <a class="um-user btn-delete" href="/admin/usuarios/<%= user.id %>/excluir">Excluir</a>
      </div>
    </div>

    <% } %>

    
  </section>
</main>

