
<%- include('../partials/header-admin.ejs') %>

<section class="section-main section-admin">

  <h1 class="admin-title">Editar usuário</h1>
  <section class="container-list ">
  
    <form
      class="form-user",
      method="post"
      action="/admin/usuarios/<%=user.id%>/editar?_method=put"
    >
      <div>
        <div class="info-edit">
          <label for="user-img">Avatar</label for="user-avatar">
          <input type="file" name="user-avatar" id="user-avatar">
        </div>
      </div>
      <div class="info-edit">
        <label for="nome">Nome</label>
        <input
          class="input-account"
          type="text"
          id="nome"
          value="<%= user.nome%>"
          name="nome"
          placeholder="Digite o nome do usuário"
          required
        />
        <% if(locals.errors && errors.nome) { %> 
          <p style="color: red;"><%=errors.nome.msg%></p>
        <% } %>

      </div>
      <div class="info-edit">
        <label for="slug">Slug</label>
        <input
          class="input-account"
          type="text"
          id="slug"
          value="<%= user.slug%>"
          name="slug"
          placeholder="Digite o slug do usuário"
          required
        />
       
      </div>
      <div class="info-edit">
        <label for="email">Email</label>
        <input
          class="input-account"
          type="email"
          id="email"
          value="<%= user.email%>"
          name="email"
          placeholder="Digite o email"
          required
        />
        <% if(locals.errors && errors.email) { %> 
          <p style="color: red;"><%=errors.email.msg%></p>
        <% } %>
      </div>
      <div class="info-edit">
        <label for="senha">Senha</label>
        <input
          class="input-account"
          type="password"
          id="senha"
          value="<%= user.senha%>"
          name="senha"
          placeholder="Digite a senha"
          required
        />
        <% if(locals.errors && errors.senha) { %> 
          <p style="color: red;"><%=errors.senha.msg%></p>
        <% } %>
      </div>
      <div class="info-edit info-admin">
        <label for="admin">Admin</label>
        <% if (user.admin == true) { %>
          <input
            class="input-account"
            type="checkbox"
            id="admin"
            value="<%= user.admin%>"
            name="admin"
            checked
          />
        <% } else { %>
            <input
            class="input-account"
            type="checkbox"
            id="admin"
            value="<%= user.admin%>"
            name="admin"   
            />
        <% } %>
      </div>
      <div>
        <input type="hidden" name="created_at" value="<%= user.createdAt %>">
        <input type="hidden" name="updated_at" value="<%= new Date() %>">
      </div>
      <div class="btn-options">
        <button class="button-edit btn-default">Salvar</button>
      </div>
    </div>
      </form>
  </section>
</main>
</body>
</html>

