<%- include('../partials/header-admin.ejs') %>


  <div class="app-content">
    <div class="app-content-header">
      <h1 class="app-content-headerText">Usuários</h1>
      
      <a href="/admin/usuarios/add" class="a-user btn-default"> Adicionar Usuário</a>
    </div>
    <div class="app-content-actions">
      <input class="search-bar" placeholder="Search..." type="text">
      
    </div>
    <% if (locals.users) {%>
      <table>
        <thead class="list-header">
          <tr>
            <th>Avatar</th>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Slug</th>
            <th>Admin</th>
            <th>Data de criação</th>
            <th>Data de modificação</th>
            <th>Opções</th>
          </tr>
        </thead>
        <tbody class="list-row">
          <% for(let user of users) { %>
            <tr>
              <td class="td-avatar">
                <img
                src="/images/<%= user.avatar ? `avatar/${user.avatar}` : 'avatar-exemple.png' %>"
                alt="Avatar  <%= user.nome %>"
                width="60"
                height="40"
                style="border-radius: 50%; display: block"
                />
              </td>
              <td class="td-id">
                <%= user.id %>
              </td>
              <td class="td-name">
                <%= user.nome %>
              </td>
              <td class="td-name">
                <%= user.email %>
              </td>
              <td class="td-email">
                <%= user.slug %>
              </td>
              <td>
                <% if(user.admin == true) { %>
                  <img src="/images/icon-true.png" width="20px">
                <% } else { %>
                  <img src="/images/icon-false.jpg" width="20px">
                <% } %>

              </td>
              <td class="td-date">
                <%= user.createdAt %>
              </td>
              <td class="td-date">
                <%= user.updatedAt %>
              </td>
              <td class="td-options">
                <a class="um-user" href="/admin/usuarios/<%= user.id %>">
                  <img src="/images/icon-view.png" width="20px">
                </a>
                <a class="um-user" href="/admin/usuarios/<%= user.id %>/editar">
                  <img src="/images/icon-edit-admin.jpg" width="25px">
                </a>
                <a class="um-user" href="/admin/usuarios/<%= user.id %>/excluir">
                  <img src="/images/icon-delete-admin.png" width="20px">
                </a>
              </td>
            </tr>
          <% } %>
        </table>
      </table>
    <% } %>
  </div>
  

</main>
</body>

</html>