<%- include('partials/agendamento-header.ejs') %>
    <main>
        <section class="section-agenda">
            <h1 class="title-h1-agenda"><%= agenda.title %> </h1>
            <div>
                <input hidden id="agenda-start" value="<%= agenda.start%>">
                <input hidden id="agenda-end" value="<%= agenda.end%>">
                <input hidden id="businessHours" value="<%= businessHours %>">
                
            </div>
        </section>
        <section class="section-calendar">
            <div id='calendar'></div>
    
        <div id="myModal" class="modal" style="display: none;">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Novo agendamento</h2>
                <form method="post" action="/agendamento/<%=user.slug%>/<%=agenda.id%>">
                    <div>
                        <h3>Dados do agendamento</h3>
                        <div>
                            <label for="date">Data do agendamento</label>
                            
                            <input type="date" name="start" id="start"  onchange="getDate()" required>
                        </div>
                        <div>
                            <label for="startTime">Hor치rio do agendamento</label>
                            
                            <input type="time" name="startTime" id="startTime" onchange="getTime()" 
                            min="00:00" max="24:00" 
                            title="Hor치rio do agendemento. Deve ser posterior ao hor치rio atual" required>
                        </div>
                    </div>
                    <div>
                        <h3>Dados pessoais</h3>
                        <div>
                            <label for="title">Nome completo</label>
                            <input type="text" name="title" id="title"  required>
                        </div>
                        <div>
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" required>
                        </div>
                        <div>
                            <label for="telefone">Telefone</label>
                            <input type="tel" name="telefone" id="telefone">
                        </div>
                        <div>
                            <button type="submit" class="btn-default" id="submit">Agendar</button>
                        </div>
                    </div>
                </form>
            </div>
        
        </div>     
        </section>
       
         
        <script>
            window.addEventListener('DOMContentLoaded', (event) => {
                var currentDate = new Date()
                document.getElementById("start").valueAsDate = currentDate
            });

            //validar inputs
            function getDate() {
                var date = new Date(document.getElementById("start").value)
                var currentDate = new Date()
                if(date < currentDate) {
                    return [
                        document.getElementById("start").style.borderColor = "red",
                        document.getElementById("submit").disabled = true
                    ]
                }else {
                    document.getElementById("submit").disabled = false
                }
                
            }
            function getTime() {
                var date = document.getElementById("start").value
                var time = document.getElementById("startTime").value
                var dateTime = moment(`${date}T${time}`)
                dateTime = new Date(dateTime)
                
                var currentDate = new Date()
                
                if(dateTime.getFullYear() == currentDate.getFullYear() 
                    && dateTime.getMonth() == currentDate.getMonth()
                    && dateTime.getDay() == currentDate.getDay()) {
                    
                        if(dateTime.getHours() <= currentDate.getHours() ) {
                            console.log("Hora inv치lida")
                            return [
                                document.getElementById("startTime").style.borderColor = "red",
                                document.getElementById("submit").disabled = true
                            ]
                        } else {
                        return document.getElementById("submit").disabled = false
                        }
                } else {
                    return document.getElementById("submit").disabled = false
                }

            }
        
        </script>
        
                

        <script type="text/javascript" src="/javascripts/agenda.js"></script>
    
    </main>

<%- include('partials/agendamento-footer.ejs') %>