<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/account/default-style.css'/>
    <link rel='stylesheet' href='/stylesheets/account/header.css'/>
    <title><%= title%></title>
</head>
<body>
    <header class="header">
        <div class="div-logo">
            <p>
              <a class="logo" href="/">CoLearning</a>  
            </p>
        </div>
        <div class="agendamento">
            <p>Agendamento - <%= user.nome %></p>
        </div>
    </header>
    <main>
        <section>
            <img src="/images/card-img4.jpg" height="600px" width="100%" >
        </section>
        <section class="agendas">
            <div>
                <h1>Agendas de <%= user.nome %></h1>
                <div>
                    <% if(locals.agendas) { %>
                        <% for(let agenda of agendas) { %>
                            <% if(agenda.groupId == idUser) { %>
                                <div>
                                    <h2><%= agenda.title %></h2>
                                    <div>
                                        <a href="/agendamento/<%=user.slug%>/<%=agenda.id%>">Agendar</a>
                                    </div>
                                </div>
                            <% } %> 
                        <% } %> 
                    <% } else { %> 
                        <p>Desculpe, não há agendas disponíveis</p>
                    <% } %> 
                </div>
            </div>
        </section>
    </main>
    
</body>
</html>