<%- include('partials/header.ejs') %>

<main>
    <%- include('partials/links-user.ejs') %>

<h1><%= title%></h1>
<h2>Seja bem vindo </h2>
<p>Vai ser muito bom atender vocês</p>

<%- include('partials/links-user.ejs') %>
</main>
<%- include('partials/footer.ejs') %>