<%- include('partials/header.ejs') %>

<main>
   <h1><%= title %></h1>
   <%- include('partials/links-user.ejs') %>

   <section>
      <h2>Editar Aluno <%= aluno.nome%></h2>
      <p>Edite os dados do aluno <%= aluno.nome%></p>
   </section>

<form action="/users/<%=aluno.id%>/editar?_method=put" method="POST" >
   
   <div >
      <label for="nome">Nome</label>
      <input type="text" id="nome" value="<%= aluno.nome%>" name="nome" placeholder="Digite o nome do Aluno" required>
   </div>
   <div >
      <label for="email">Email</label>
      <input type="email" id="email" value="<%= aluno.email%>" name="email" placeholder="Digite o email" required>
   </div>
   <div >
      <label for="senha">senha</label>
      <input type="password" id="senha" value="<%= aluno.senha%>" name="senha" placeholder="Digite a senha" required>
   </div>

   <input type="hidden" name="modifed_at" value="<%= new Date() %>">
   <button>Editar aluno</button>
</form>
   

</main>
<%- include('partials/footer.ejs') %>