<%- include('partials/account-header.ejs') %>

<main class="main-flex">
    <!-- menu lateral -->
    <%- include('partials/container-side.ejs') %>
    <!-- parte central -->

    <section class="container-created">
        <div class="settings-initial">
            <p class="settings-title">Editar <%=agenda.title %></p>
            <hr>
            <div class="container-form">
                <form method="post" action="/conta/<%= agenda.id %>/editar?_method=put">
                    <div class="conteiners-form">
                        <label for="title">Nome da agenda</label>
                        <input type="text" name="title" id="title" value="<%= agenda.title %>" required>
                    </div>
                    
                    <div class="conteiners-form">
                        <label for="duration">Duração das reuniões</label>
                        <input type="time" name="duration" id="duration" value="<%= agenda.duration %>" required>
                    </div>
                    <div class="conteiners-form">
                        <label for="start">Período de agendamento</label>
                        <input type="date" name="start" id="start" value="<%= agenda.start %>">
                        <label for="end">até</label>
                        <input type="date" name="end" id="end" value="<%= agenda.end %>">
                    </div>
                    <div class="container-availability">
                        <div>
                            <label>Disponibilidade</label>
                        </div>
                        <table>
                            <tr>
                                <td>
                                    <input type="checkbox" name="daysOfWeek" id="" value="0">
                                    <label for="daysOfWeek">Domingo</label>
                                </td>
                                <td>
                                    <input type="time" name="startTime" id="" value="<%= agenda.startTime %>">
                                </td>
                                <td>
                                    <input type="time" name="endTime" id="" value="<%= agenda.endTime %>">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" name="daysOfWeek" id="" value="1">
                                    <label for="daysOfWeek">Segunda</label>
                                </td>
                                <td>
                                    <input type="time" name="startTime" id="" value="<%= agenda.startTime %>">
                                </td>
                                <td>
                                    <input type="time" name="endTime" id="" value="<%= agenda.endTime %>">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" name="daysOfWeek" id="" value="2">
                                    <label for="daysOfWeek">Terça</label>
                                </td>
                                <td>
                                    <input type="time" name="startTime" id="" value="<%= agenda.startTime %>">
                                </td>
                                <td>
                                    <input type="time" name="endTime" id="" value="<%= agenda.endTime %>">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" name="daysOfWeek" id="" value="3">
                                    <label for="daysOfWeek">Quarta</label>
                                </td>
                                <td>
                                    <input type="time" name="startTime" id="" value="<%= agenda.startTime %>">
                                </td>
                                <td>
                                    <input type="time" name="endTime" id="" value="<%= agenda.endTime %>">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" name="daysOfWeek" id="" value="4">
                                    <label for="daysOfWeek">Quinta</label>
                                </td>
                                <td>
                                    <input type="time" name="startTime" id="" value="<%= agenda.startTime %>">
                                </td>
                                <td>
                                    <input type="time" name="endTime" id="" value="<%= agenda.endTime %>">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" name="daysOfWeek" id="" value="5">
                                    <label for="daysOfWeek">Sexta</label>
                                </td>
                                <td>
                                    <input type="time" name="startTime" id="" value="<%= agenda.startTime %>">
                                </td>
                                <td>
                                    <input type="time" name="endTime" id="" value="<%= agenda.endTime %>">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" name="daysOfWeek" id="" value="6">
                                    <label for="daysOfWeek">Sábado</label>
                                </td>
                                <td>
                                    <input type="time" name="startTime" id="" value="<%= agenda.startTime %>">
                                </td>
                                <td>
                                    <input type="time" name="endTime" id="" value="<%= agenda.endTime %>">
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <button type="submit" class="btn-default" id="btn-save">Salvar</button>
                    </div>
                </form>
            </div>
    </section>   
</main>