<%- include('partials/account-header.ejs') %>


<main class="main-flex">
    <%- include('partials/myAccount-container.ejs') %>
    <section class="section-main sec-info">
        <h1 class="account-title">Informações da sua conta</h1>
        <div class="container-info">
            <div class="container-edit">
                <h2>Dados Gerais</h2>
                <div class="info-edit">
                    <label for="user-img">Imagen de perfil</label for="user-nome">
                    <input type="file" name="user-avatar" id="user-avatar">
                </div>
                <div class="info-edit"> 
                    <label for="user-nome">Nome</label for="user-nome">
                    <input class="input-account" type="text" name="user-nome" id="user-nome" value="<%=user.nome%>">
                </div>
                <div class="info-edit"> 
                    <label for="user-email">Email</label for="user-email">
                    <input class="input-account" type="email" name="user-email" id="user-email" value="<%=user.email%>">
                </div>
                <div class="info-edit">
                    <label for="user-password">Senha</label for="user-password">
                    <input class="input-account" type="password" name="user-password" id="user-password" value="<%=user.senha%>">
                </div>
                <div class="container-btn">
                    <a class="btn-default" id="btn-edit" href="">
                        Salvar
                    </a>
                </div>
            </div>    
        </div>
    </section>
</main>
</body>
</html>