<%- include('partials/header.ejs') %>

<main>
  <%- include('partials/links-user.ejs') %>
  <h1><%= title%></h1>
  <section>
    <h2>Usuários</h2>
    <% if(locals.user) { %>
    <div>
        <div>
          <img
            src="https://cdn.icon-icons.com/icons2/2506/PNG/512/user_icon_150670.png"
            alt="avatar"
            height="60"
            width="60"
            style="border-radius: 50%; width: 60px; height: 60px; display: block"
          />
        </div>
      <p>user</p>
      <p><%= user.id %></p>
      <h3><%= user.nome%></h3>
      <p><%= user.email%></p>
      <p><%= user.senha%></p>
      <div>
        <a class="um-user" href="/admin/usuarios/<%= user.id %>/editar">editar</a> |
        <a class="um-user" href="/admin/usuarios/<%= user.id %>/excluir">excluir</a>
      </div>
    </div>

    <% } %>

    <nav class="navizinha">
      <a class="um-user" href="/admin/usuarios">Usuários</a> |
      
    </nav>
  </section>
</main>

