<%- include('partials/header-admin.ejs') %>

<section class="section-main section-admin">

  <h1 class="admin-title">Excluir usuário</h1>
  <section class="container-list ">
    <form
      class="form-user"
      action="/admin/usuarios/<%=user.id%>/excluir?_method=delete"
      method="POST"
    >
      <div class="info-edit">
        <label for="nome">Nome</label>
        <input
          class="input-account"
          type="text"
          id="nome"
          value="<%= user.nome%>"
          name="nome"
          placeholder="Digite o nome do usuário"
          disabled
        />
      </div>
      <div class="info-edit">
        <label for="email">Email</label>
        <input
          class="input-account"
          type="email"
          id="email"
          value="<%= user.email%>"
          name="email"
          placeholder="Digite o email"
          disabled
        />
      </div>
      <div class="info-edit">
        <label for="senha">senha</label>
        <input
          class="input-account"
          type="password"
          id="senha"
          value="<%= user.senha%>"
          name="senha"
          placeholder="Digite a senha"
          disabled
        />
      </div>
      <div class="btn-options">
        <input type="hidden" name="modifed_at" value="<%= new Date() %>" />
        <button class="button-exclude btn-delete">Excluir usuário</button>
      </div>
    </form>
  </section>
</main>
</body>
</html>
