<link rel="stylesheet" href="/stylesheets/users/excluir-aluno.css" />
<%- include('partials/header.ejs') %>

<main>
  <%- include('partials/links-user.ejs') %>

  <h1 class="excluir-user">Excluir Usuário <%= user.nome%></h1>
  <section>
    <form
      class="form-user"
      action="/admin/usuarios/<%=user.id%>/excluir?_method=delete"
      method="POST"
    >
      <div class="exclude-div">
        <label for="nome">Nome</label>
        <input
          class="user-exclude"
          type="text"
          id="nome"
          value="<%= user.nome%>"
          name="nome"
          placeholder="Digite o nome do Usuário"
          disabled
        />
      </div>
      <div class="exclude-div">
        <label for="email">Email</label>
        <input
          class="user-exclude"
          type="email"
          id="email"
          value="<%= user.email%>"
          name="email"
          placeholder="Digite o email"
          disabled
        />
      </div>
      <div class="exclude-div">
        <label for="senha">senha</label>
        <input
          class="user-exclude"
          type="password"
          id="senha"
          value="<%= user.senha%>"
          name="senha"
          placeholder="Digite a senha"
          disabled
        />
      </div>

      <input type="hidden" name="modifed_at" value="<%= new Date() %>" />
      <button class="button-exclude">Excluir usuário</button>
    </form>
  </section>
</main>
<%- include('partials/footer.ejs') %>
