<%- include('partials/account-header.ejs') %>

<main class="main-users-lista">
  <%- include('partials/links-user.ejs') %>

  <h1 class="lista-users"><%= title %></h1>

  <section class="section-admin-list">
    <% if (locals.users) {%>
      <div class="container-list">
        <table class="table-list">
          <thead>
            <tr>
              <th>Avatar</th>
              <th>Id</th>
              <th>Nome</th>
              <th>Email</th>
              <th>Opções</th>
            </tr>
          </thead>
          <tbody>
            <% for (let user of users) { %>
              <tr>
                <td class="td-avatar">
                  <img
                  src="/images/<%= user.avatar ? `avatar/${user.avatar}` : 'avatar-exemple.png' %>"
                  alt="Avatar  <%= user.nome %>"
                  width="60"
                  height="40"
                  style="border-radius: 50%; display: block"
                  />
                </td>
                <td class="td-id">
                  <%= user.id %>
                </td>
                <td class="td-name">
                  <%= user.nome %>
                </td>
                <td class="td-email">
                  <%= user.email %>
                </td>
                <td class="td-options">
                  <a class="um-user btn-default" href="/admin/usuarios/<%= user.id %>">Visualizar</a>
                </td>
              </tr>
            <% } %>
          </tbody>
        
        

        
        </table>
      </div>
    <% } %>
  </section>
</main>
</body>
</html>
