<%- include('../partials/account-header.ejs') %>

<main class="main-calendar">
    <section class="container-side" id="container-side">
        <div id="contents-side" class="container-calendar">
        <div>
            <div class="container-button">
            <a href="/conta/<%=user.id%>/criar-agenda" id="agenda-submit">Criar agenda</a>
            </div>
            <div class="container-table-month">
            <div id='calendar'></div>
            </div>
        </div>
        <div class="container-agendas">
            <p>Minhas Agendas</p>
            <div class="agendas-list">
            <ul>
                
                <% for(let agenda of agendas) { %>
                    <% if(agenda.extendedProps.userId == user.id) { %>
                        <li>
                            <%= agenda.title %>
                            <a href="/conta/<%=user.id%>/<%=agenda.id%>/editar-agenda">
                                <img src="/images/icon-edit2.png" height="15px" width="15px">
                            </a>
                            <a href="/conta/<%=user.id%>/<%=agenda.id%>/apagar-agenda">
                                <img src="/images/icon-delete2.png" height="15px" width="15px">
                            </a>
                        </li>
                    
                    <% } %> 
                <% } %> 
            </ul>
            </div>
        </div>
        </div>
    </section>

    <section class="section-agenda">
        <div class="container-events">
            <div class="agenda-title">
                <h2></h2>
            </div>
            <div id='calendar-main'></div>

            <div>
                <input id="events" value="<%= events %>">
            </div>
        </div>
        
    </section>

        
   
</main>

<script type="text/javascript" src="/javascripts/calendar.js"></script>


</body>

</html>