<%- include('../partials/account-header.ejs') %>


<main class="main-flex">
    <%- include('../partials/myAccount-container.ejs') %>
    <section class="section-main sec-info">
        <h1 class="account-title">Informações da sua conta</h1>
        <div class="container-info">
            <div class="container-edit">
                <form 
                action="/conta/minha-conta/editar?_method=put"
                method="post"
                enctype="multipart/form-data"
                >
                    <h2>Dados Gerais</h2>

                    <div class="info-edit">
                        <div class="div-avatar">
                            <img
                                src="/images/<%= user.avatar ? `avatar/${user.avatar}` : 'avatar-exemple.png' %>"
                                alt="Avatar de <%=user.nome%>"
                            />
                          </div>
                        <label for="avatar">Imagen de perfil</label>
                        <input type="file" name="avatar" id="avatar">
                    </div>

                    <div class="info-edit"> 
                        <label for="nome">Nome</label>
                        <input class="input-account" type="text" name="nome" id="nome" value="<%=user.nome%>" required>
                    </div>

                    <% if(locals.errors && errors.nome) { %> 
                        <p style="color: red;"><%=errors.nome.msg%></p>
                    <% } %>
    
                    <div class="info-edit"> 
                        <label for="email">Email</label>
                        <input class="input-account" type="email" name="email" id="email" value="<%=user.email%>">
                    </div>
                    <% if(locals.errors && errors.email) { %> 
                        <p style="color: red;"><%=errors.email.msg%></p>
                    <% } %>

                    <div class="info-edit">
                        <label for="password">Senha</label>
                        <input class="input-account" type="password" name="senha" id="senha" >
                    </div>
                    <% if(locals.errors && errors.senha) { %> 
                        <p style="color: red;"><%=errors.senha.msg%></p>
                    <% } %>
                    <div>
                        <input type="hidden" name="created_at" value="<%= user.createdAt %>">
                        <input type="hidden" name="updated_at" value="<%= new Date() %>">
                      </div>
                    <div class="container-btn">
                       <button class="button-edit btn-default">Salvar</button>
                    </div>
                </form>
            </div>    
        </div>
    </section>
</main>
</body>
</html>