<%- include('../partials/account-header.ejs') %>

<main class="main-flex">
    <%- include('../partials/myAccount-container.ejs') %>
    <section class="section-main sec-info">
        <h1 class="account-title">Informações da sua conta</h1>
        <div class="container-info">
            <div>
                <h2>Dados Gerais</h2>
                <div class="div-avatar">
                    <img
                      src="/images/<%= user.avatar ? `avatar/${user.avatar}` : 'avatar-exemple.png' %>"
                      alt="avatar"
                      height="80"
                      width="80"
                      style="border-radius: 50%; width: 80px; height: 60px; "
                    />
                </div>
                <!-- 
                    <div>
                    <img id="img-avatar" src="/images/avatar-exemple.png" width="130px">
                </div>
                -->
                <div class="info-data"> 
                    <p>Nome</p>
                    <p><%=user.nome%></p>
                </div>
                <div class="info-data"> 
                    <p>Email</p>
                    <p><%=user.email%></p>
                </div>
                <div class="info-data">
                    <p>Senha</p>
                    <p>******</p>
                </div>
                <div class="container-btn">
                    <a class="btn-default" id="btn-edit" href="/conta/minha-conta/editar">
                        Editar
                    </a>
                </div>
            </div>
            <div class="container-link">
                <h2>Dados de Agendamento</h2>
                <div class="info-data"> 
                    <p>Link para agenda</p>
                    <p>
                        <a href="/agendamento/<%=user.slug%>">
                            Clique aqui
                        </a>
                    </p>
                </div>
                <div>
                    <p class="container-del-text">
                        Atenção: o link é criado com base no nome do usuário, 
                        por isso, ao alterar seu nome o link também será modificado. 
                    </p>
                </div>
            </div>
            <div class="container-delete">
                <h2>Excluir conta</h2>
                <div class="container-del-text">
                    <p>
                        Esta ação não poderá ser desfeita e todos os dados relacionados 
                        ao seu usuário serão excluídos.
                    </p>
                </div>
                <div class="container-btn">
                    <a class="btn-delete" href="">
                        Excluir conta
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>